<h1>Static#home</h1>
<p>Find me in app/views/static/home.html.erb</p>

<!-- Hide this if user signed in -->
<!-- <h2>Current User: <%#= current_user.name %> </h2> -->
<!-- <%#= current_user.inspect %> -->
<!-- </br> -->
