<h1>Static#home</h1>
<p>Find me in app/views/static/home.html.erb</p>

<h2>Random Quotes</h2>

from heroku config
postgres://dmymzdegozsdnh:9cdc9a16ebc1958f40677372847154402d30b4dadfdd7c1206fc2fcac3e9dd02@ec2-50-19-219-69.compute-1.amazonaws.com:5432/d8626rgl1apuok

postgres://
user: dmymzdegozsdnh
:
password: 9cdc9a16ebc1958f40677372847154402d30b4dadfdd7c1206fc2fcac3e9dd02
@
host: ec2-50-19-219-69.compute-1.amazonaws.com
:
port: 5432
/
database: d8626rgl1apuok




<!-- Hide this if user signed in -->
<!-- <h2>Current User: <%#= current_user.name %> </h2> -->
<!-- <%#= current_user.inspect %> -->
<!-- </br> -->
